// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Visually hide an element but
// still make it accessible to 
// a screen reader
@mixin visually-hidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

// Centers the element in its container
@mixin horizontal-margin-center {
    margin: {
        left: auto;
        right: auto;
    }
}

// Make flex row container
@mixin flex-row($justify-content: flex-start, $align-items: flex-start, $gap: 0) {
    display: flex;
    flex-direction: row;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}

// Make flex row wrap container
@mixin flex-row-wrap($justify-content: flex-start, $align-items: flex-start, $gap: 0) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}

// Make flex column container
@mixin flex-column($justify-content: flex-start, $align-items: flex-start, $gap: 0) {
    display: flex;
    flex-direction: column;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}

// Absolutely position an element given top and left margins
@mixin position-absolute($top: 0, $left: 0) {
    position: absolute;
    top: $top;
    left: $left;
}

// Media Query
@mixin mq($w) {
    @media (min-width: $w) {
        @content;
    }
}

@mixin maxq($w) {
    @media (max-width: $w) {
        @content;
    }
}