.main-navigation {
    display: block;
    width: 100%;
    align-items: center;

    .menu-toggle {
        font-size: 0;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        cursor: pointer;

        // middle line
        position: relative;
        background: linear-gradient(white, white) no-repeat center;
        background-size: 30px 4px;

        &::before,
        &::after {
            content: "";
            display: block;
            width: 30px;
            height: 4px;
            background-color: white;
            margin: 8px auto;
            transition: all 0.3s;
        }
        &::after {
            content: "";
        }
    }

    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;

        // Direct child ul of the main menu
        > li > ul {
            display: none; // Initially hidden, shown when parent li is toggled
            position: relative;
            background-color: #333;
        }

        li {
            position: relative;
            // Targeting direct child links for top-level menu items
            > a {
                display: block;
                text-decoration: none;
            }
        }
    }

    li {
        position: relative;

        &:hover > a,
        &.focus > a {
        }
    }

    a {
        display: block;
        text-decoration: none;
    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
        background-color: #3068d1;
    }
}

.toggled .nav-menu {
    background-color: black;
    position: absolute;
    top: 4.5rem;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;

    a {
        padding: 1rem;
    }
}

.nav-menu {
    a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        text-transform: uppercase;

        &:visited {
            color: white;
        }

        &:hover,
        &:focus {
            background-color: #454545;
        }
    }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 50em) {
    .menu-toggle {
        display: none;
    }

    .main-navigation {
        ul {
            display: flex; 

            li {
                position: relative; 

                &:hover > ul,
                &:focus-within > ul {
                    display: block; 
                    position: absolute;
                    top: 4.5rem; 
                }

                a {
                    padding: 1.5rem;
                }
            }
        }

        ul ul {
            /* Targeting submenus */
            display: none; 
            left: 0;
            background-color: #333; 
            z-index: 10; 

            li {
                display: block; 

                a {
                    padding: 1.3rem; 
                }
            }
        }
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
    .site-main & {
        margin: 0 0 1.5em;
    }

    .nav-links {
        display: flex;
    }

    .nav-previous {
        flex: 1 0 50%;
    }

    .nav-next {
        text-align: end;
        flex: 1 0 50%;
    }
}
