body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	height: 100vh; //fixes schedule floating footer
}
main {
	max-width: 1000px;
	margin: 0 auto;
}
