.page-student-list {
    max-width: rem(1000);
    margin: 0 auto;
    padding: 0 2rem 2rem;
    
    .students-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        gap: 2rem;
        margin: 0 auto;
        padding: rem(20);
        li {
            max-width: 17rem;
        }


    }
}
