.page-student-single {
    max-width: rem(1000);
    margin: 0 auto;
    padding: 0 2rem 2rem;

    .student-overview {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .post-thumbnail {
            width: rem(300); // Assuming `rem` function is defined

            img {
                width: rem(300); // Fixing the image width
                height: auto; // Maintain aspect ratio
            }
        }

        .student-content {
            max-width: rem(700);
        }
    }

    .related-students {
        margin: 0;
        padding: 0;
        
        li {
            padding-bottom: 1rem;
        }
    }
}

@include mq(768px) {
    .page-student-single {
        .student-overview {
            flex-direction: row-reverse;

            .post-thumbnail {
                flex: 0 0 rem(300); // This prevents the image container from growing or shrinking
            }
        }
    }
}
