#page > #secondary,
.widget-area {
	@include mq(876px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		max-width: 1000px;
		margin: 0 auto;
	}
}

//search bar and search button
.wp-block-search__inside-wrapper,
.wp-block-search__button,
.wp-block-search__input {
	display: block;
	margin: 0 auto;
}

.wp-block-search__input {
	width: 90%;
}

.wp-block-search__inside-wrapper > button,
[aria-label='search'] {
	width: 90%;
	background: #305c9f;
	color: white;
	padding: 1rem;
}

//recent post & categories
ul.wp-block-latest-posts__list > li,
ul.wp-block-categories-list > li {
	list-style-type: disc;
}

ul.wp-block-latest-posts__list {
	margin: 0 0 1.5em 1.3em;
}

ul.wp-block-categories-list {
	margin: 0 0 1.5em -1.2em;
}
